#brand_name {
  width: 20vh;
  height: 60px;
  padding-top: 15px;
  padding-bottom: 5px;
  margin-left: 70px;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  background: #2a99aa;
  text-align: center;
  vertical-align: middle
}

#brand_name:hover {
  opacity: 0.6;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #2a99aa;
    color: #fff;
    text-align: center;
    border-top-style: solid;
    border-top-color: white;
    border: black;
    color: white;
    height: 40px;
    font-size: 14px;
    padding-top: 10px;
}

.main_background {
    background-image: url("../images/weather.jpg");
    background-color: #cccccc;
    margin:0px;
    padding-top:0px;
    padding-bottom:15px;
}

#main_color {
    color:#2a99aa;
}

.text_color {
    color: black;
}

.outer-box {
    margin-bottom:50px;
    padding:80px;
}

.inner-box {
    padding: 40px;
    background:white;
    text-align:left;
}

.big-box {
    padding: 40px;
    background:white;
    /*text-align:left;*/
}

.medium-box {
    padding: 40px;
    background:white;
}
.active-img:hover {
    border: 2px solid black;
}

.img-landing-page{
    float: left;
    vertical-align: top;
    width: 350px;
    margin-right:10px;
    margin-bottom: 10px;
  }

@media only screen and (max-width: 820px) {

.navbar-header {
    background-color: #2a99aa;
  }

#brand_name {
    width: 100%;
    margin-left: 0;
    text-align: left;
    text-indent: 35px;
  }

.main_background {
    background-image:none;
    background-color:white;
}

.outer-box {
    margin-bottom:0px;
    padding:0px;
}

}